html,body{
	overflow-x: hidden;
}

/*bootstrap grid: 
	1 	grid = 8.333% 
	0.5	grid = 4.166%
	1.5	grid = 12.499% */

/*colors:
bone - rgb(229,220,197)
dark liver - rgb(76,76,71)
https://coolors.co/542a16-b0b4b4-fffdff-524a41-dcd4d6
timberwolf - rgb(220,212,214)
dark liver - rgb(82,74,65)
ash grey - rgb(176,180,180)
caput mortuum - rgb(84,42,22)
*/


.mainWrapperRow{	/*overall container div*/
	height: 100vh;
}
.rowUpper, .rowLower{
	/*border: 1px solid;*/
}
.rowUpper>div, .rowLower>div{
	height: 100%;
	border: 1px solid;
}

.rowUpper{
	height: 77%;
	padding-top: 10px;
}
.ruleArea{
	background-color: rgba(84,42,22,0.95);
}
.gameScreen{
	background-color: rgb(220,212,214);
}
.gameScreenMonitor{
	height: 98%;
	margin-top:0.5%;
	margin-left: 0.25%;
	border: 1px solid;
	border-radius: 7%;
	background-color: rgba(0,0,0,0.9);
}
.gameScreenMonitor>div.row{
	/*height: ;*/
	/*display:inline-block;*/
}
.gameSquare{
	border: 1px solid white;
	display:inline-block;
}
.buttonArea{
	background-color: rgba(84,42,22, 0.95);
	padding: 0;
}
.buttonArea > div{
	margin-left:2.0888%;
}
.radioGridSelect{
	height: 10%;
	border: 1px solid;
	/*margin-left: 2.088%;*/
}
.radioGridSelectLabel{
	margin-top:5px;
	height: 60%;
	background-color: gold;
	/*border-radius: -20px; look up radial gradient*/
	
}
.radioGridSelectInput{
	height: 20%;
}
.startInput{
	height: 20%;
	border: 1px solid;
}
.startButton{
	background-color: white;

}
.rowLower{
	height: 23%;
	padding-bottom: 10px;
}