/*bootstrap grid: 
	1 	grid = 8.333% 
	0.5	grid = 4.166%
	1.5	grid = 12.499% */

/*colors:
bone - rgb(229,220,197)
dark liver - rgb(76,76,71)
https://coolors.co/542a16-b0b4b4-fffdff-524a41-dcd4d6
timberwolf - rgb(220,212,214)
dark liver - rgb(82,74,65)
ash grey - rgb(176,180,180)
caput mortuum - rgb(84,42,22)
*/

@font-face {
	font-family: 'manaspc';
	src:  url('assets/manaspc.ttf') format('woff2');
}

@font-face {
	font-family: 'duckhunt';
	src:  url('assets/duckhunt.ttf') format('woff2');
}

html, body {
	overflow-x: hidden;
	font-family: manaspc, Arial;
	color: #fb9a38;
	background: black;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none;
}

.mobileVerticalMsg, .screenSizeMsg {
	display: none;
	position: absolute;
	z-index: 1;
	width: 100vw;
	height: 100vw;
}

.mobileVerticalMsg h1{
	margin-top: 40vw;
}

.gunCursorDefault {
	cursor: url(assets/cursorDefault.png), auto;
}

.gunCursorPlayer0 {
	cursor: url(assets/cursorPlayer0.png),auto;
}

.gunCursorPlayer1 {
	cursor: url(assets/cursorPlayer1.png),auto;
}

.cursorDefault {
	cursor: url(assets/cursorOrange.png) 50 50,auto;
}

.gameScreenMonitor.cursorPlayer0 { /*green*/
	cursor: url(assets/cursorGreen.png) 50 50, auto;
}

.gameScreenMonitor.cursorPlayer1 { /*purple*/
	cursor: url(assets/cursorPurple.png) 50 50, auto;
}

.button, .radioGridSelect, .radioWinSelect, .player0Area, .player1Area {	
	cursor: pointer;
}

button, input {
	cursor:pointer;
}

.mainWrapperRow {
	height: 100vh;
	/*min-height: 340px;*/
	/*min-height: 360px;*/
}

.rowUpper > div, .rowLower > div {
	height: 100%;
}

.rowUpper {
	height: 77%;
	padding-top: 10px;
}

.titleArea {
	font-family: duckhunt, Arial;
	font-size: 6vw;
	background-color: black;
	color: #00e8d8;
}

.rule-title {
	margin: 10px 5% 10px 5%;
	height: auto;
	background-color: #00e8d8;
	border-radius: 8px;
	color:black;
	font-size: 25px;

}

.player0Name, .player1Name {
	position: relative;
	top: 70%;
	font-size: 45px;
}

.gameScreen {
	background-color: rgb(220,212,214);

}

.gameScreenMonitor {
	position:relative;
	height: 98%;
	margin-top:0.5%;
	margin-left: 0.25%;
	border-radius: 7%;
	padding: 16px;
	background-image: url("assets/background.png");
	background-size: 100% 100%;
	background-repeat:no-repeat;
}

.gameScreenMonitor > .uiMenu {
	position:absolute;
	display:flex;
	left:50%;
	top:33.3%;
	transform: translate(-50%, -50%);
	width:50%;
	height:20%;
	background-image: url("assets/ui_menu.png");
	background-size: 100% 100%;
	background-repeat:no-repeat;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 20px;
}

.gameScreenMonitor > .instructionsMenu {
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	width:60%;
	background-image: url("assets/instructions_menu.png");
	background-size: 100% 100%;
	background-repeat:no-repeat;
	color: white;
	font-size: 20px;
	padding: 2%;
}

.gameScreenMonitor > .instructionsMenu > h1, .gameScreenMonitor > .instructionsMenu > h2, .gameScreenMonitor > .instructionsMenu > h3 {
	text-align: center;
}

.gameScreenMonitor > .instructionsMenu > h2 {
	font-size: 36px;
}

.gameScreenMonitor > .instructionsMenu > ul {
	list-style: square;
	margin:15px;
}

.instructionsMenu > p {
	margin-top: 20px;
}

.instructionsMenu > p.mobileWarning {
	margin-top: 10px;
	padding: 0 10px;
	font-size: 11px;
}

@media screen and (max-width: 1584px) {
	.instructionsMenu > p {
		font-size: 1.5vw;
	}

	.instructionsMenu > ul{
		font-size: 15px;
	}
}

.gameScreenMonitor > .uiMenu > .uiMenuText {
	margin:0 20px;
	text-align: center;
}

.gameScreenMonitor > div.row {
	margin: 0;
}

.gameSquare {
	border: 1px solid white;
	display:inline-block;
}

.buttonArea {
	position: relative;
	/*top:15%;*/
	background-color: black;
	padding: 0;
	cursor: default;
}

.buttonAreaMobile {
	position: relative;
	top:15%;
	background-color: black;
	padding: 0;
	cursor: default;
}

.buttonArea > div {
	margin-left:2.0888%;
}

.radioGridSelect {
	margin-top: 5%;
	height:15%;
	font-size: 18px;
}

.radioGridSelectLabel, .radioWinSelectLabel {
	display:flex;
	justify-content: center;
	align-items: center;
	margin:10px 5px 10px 5%;
	background-color: #00e8d8;
	border-radius: 8px;
	color:black;
	font-size: 16px;
}

.radioGridSelectLabel {
	height:45%;
	margin-top: 15px;

}

.radioWinSelectLabel {
	height: 80px;
}

.radioWinSelectInput {
	height: 30%;
	font-size: 18px;
}

.startInput {
	height: 12%;
	margin-top: 100px;
}

.button {
	/*margin-top: 50px;*/
	background-color: #48dc48;
	color:white;
	height: 50px;
	display:flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	font-size: 25px;
}

.volumeControl {
	height: 50px;
}

.winnerMessageDisplay {
	height: 200px;
	color: white;
	font-family:duckhunt, Arial;
	font-size: 38px;
	color: #00e8d8;
}

.rowLower {
	height: 23%;
	padding-bottom: 10px;
}

.scoreAndTimerAndDucks > div {
	height: 52%;
	padding: 0;
	background: black;
}

.player0Score, .player1Score {
	font-size: 43px;
}

.timerAndDuckDisplay > div {
	height:50%;
	padding: 0;
}

.duckDisplay {
	font-size: 50px;
}

.littleDuck {
	height: 100%;
}
.player0Area {
	background: black;
	background-image: url("assets/zapperGreen.png");
	/*background-size: auto 100%;*/
	background-size: contain;
	background-repeat: no-repeat;
	background-position: right;
}

.player1Area {
	background-image: url("assets/zapperPurple.png");
	/*background-size: auto 100%;*/
	background-size: contain;
	background-repeat: no-repeat;
	background-position: left;
}

.playerFocusHighlight {
	text-shadow: 0 0 20px #21a4e2;
	color: #fb9a38;
}

.transTimer {
	width: 100%;
	height: 50%;
	margin: 7% 0;
	border: 1px inset gray;
	position: absolute;
}

.timer {
	width: 100%;
	height: 50%;
	margin: 7% 0;
	background-color: gray;
	position: absolute;
}

.mobileDiv {
	display: none;
}

/* animation */
.animateDuck0 {
	margin: auto;
	/*width: 100%;*/
	width: 85%;
	background: url('assets/p0_duck_animation.png') no-repeat center;
	background-size: cover;
	animation: play0 .7s steps(4) infinite;
}

@keyframes play0 {
	from { background-position: 0% 0; }
	to { background-position: 133% 0; }
}

.animateDuck1 {
	margin: auto;
	/*width: 100%;*/
	width: 85%;
	background: url('assets/p1_duck_animation.png') no-repeat center;
	background-size: cover;
	animation: play1 .7s steps(4) infinite;
}

@keyframes play1 {
	from { background-position: 0% 0; }
	to { background-position: 133% 0; }
}

.animateDog {
	margin: auto;
	/*width: 100%;*/
	width: 80%;
	background: url('assets/dog_animation.png') no-repeat center;
	background-size: cover;
	animation: playdog .7s steps(3) infinite;
}

@keyframes playdog {
	from { background-position: 0% 0; }
	to { background-position: 152% 0; }
}
/* animation */

/***** RESPONSIVE *****/
@media screen and (max-width: 1024px) {
	.animateDuck0 {
		width: 100%;
		background-size: 400% auto;
	}
	@keyframes play0 {
		from { background-position: 0% 50%; }
		to { background-position: 133% 50%; }
	}
	.animateDuck1{
		width: 100%;
		background-size: 400% auto;
	}
	@keyframes play1 {
		from { background-position: 0% 50%; }
		to { background-position: 133% 50%; }
	}
	.animateDog{
		width: 100%;
		background-size: 300% auto;
	}
	@keyframes playdog {
		from { background-position: 0% 50%; }
		to { background-position: 152% 50%; }
	}
}

@media screen and (max-width: 769px) {
	.animateDuck0 {
		width: 100%;
		background-size: 400% auto;
	}
	
	@keyframes play0 {
		from { background-position: 0% 50%; }
		to { background-position: 130% 50%; }
	}
	
	.animateDuck1 {
		width: 100%;
		background-size: 400% auto;
	}
	
	@keyframes play1 {
		from { background-position: 0% 50%; }
		to { background-position: 130% 50%; }
	}
	
	.animateDog {
		width: 100%;
		background-size: 300% auto;
	}
	
	@keyframes playdog {
		from { background-position: 0% 50%; }
		to { background-position: 150% 50%; }
	}
	
	.titleArea {
		padding: 0;
		font-size: 2.5em;
		text-align: center;
		background: none;
	}

	.rowUpper > div:nth-child(3) {
		height: 81vmin;
	}

	.gameScreenMonitor > .uiMenu {
		display: none;
	}
	.radioGridSelectLable, .radioWinSelectLabel{
		font-size: 14px;
	}
	.radioGridSelect, .radioWinSelectInput{
		font-size: 12.5px;
	}
	.player0Name, .player1Name {
		font-size: 1.8em;
		top: 60%;
	}

	.scoreAndTimerAndDucks {
		font-size: 2em;
	}

	.scoreAndTimerAndDucks > div {
		height: 78%;
	}

	.scoreAndTimerAndDucks > div {
		background: none;
	}

	.timerAndDuckDisplay > div {
		position: absolute;
		bottom: 64%;
		left: 2%;
		width: 100%;
	}

	.timerAndDuckDisplay > button {
		position: absolute;
		top: 50%;
		left: 27%;
	}

	.player0Area {
		background-position: left;
	}

	.player0Score {
		position: absolute;
		right: 78%;
		top: 28%;	
		width: 64%;
	}
	.player0Area{
		background-position: top left;
		background-size: 100% auto;
	}
	.player1Area {
		background-position: top right;
		background-size: 100% auto;
	}

	.player1Score {
		position: absolute;
		top: 28%;
		left: 79%;
		width: 63%;
	}

	.timerAndDuckDisplay {
		position: absolute;
		width: 92%;
		right: 4%;
		bottom: 22%;
	}

	.player0Score, .player1Score {
		font-size: 20px;
	}

	.gameScreenMonitor>.uiMenu {
		height: 27%;
	}

	.instructionsMenuMobile > h2 {
		margin: 6px 0;
	}

	.github-links i {
		font-size: 20px;
	}

	.con-4ml, .con-5ml {
		color: gray;
	}

	.uiMenu {
		display: flex;
	}

	.gameScreenMonitor>.uiMenu>.uiMenuText { 
		margin: auto;
		padding: 5px;
		text-align: center;
		font-size: 18px;
	}

	.instructionsMenu {
		display: none;
	}

	.instructionsMenuMobile > h2 {
		text-align: center;
	}

	.instructionsMenuMobile > ul, .instructionsMenuMobile > p {
		margin: 0;
	}

	.mobile-first {
		display: flex;
		position: absolute;
		left: 50%;
		top: 39%;
		transform: translate(-50%, -50%);
		margin: auto
	}

	.mobile-first > .instructionsMenuMobile {
		margin: auto;
		background-image: url("assets/instructions_menu.png");
		background-size: 100% 100%;
		background-repeat:no-repeat;
		color: white;
		font-size: 14px;
		padding: 2%;
	}

	.startButtonMobile {
		width: 50%;
		position: absolute;
		left: 23%;
		top: 120%;
		margin: 0;
	}
}
@media screen and (min-width: 768px){
	.mainWrapperRow{
		min-height: 750px;
	}
}
@media screen and (max-width: 767px) {
	.animateDuck0 {
		margin: auto;
		width: 55%;
		background: url('assets/p0_duck_animation.png') no-repeat center;
		background-size: cover;
		animation: play0 .7s steps(4) infinite;
	}
	
	@keyframes play0 {
		from { background-position: 0% 0; }
		to { background-position: 130% 0; }
	}
	
	.animateDuck1 {
		margin: auto;
		width: 55%;
		background: url('assets/p1_duck_animation.png') no-repeat center;
		background-size: cover;
		animation: play1 .7s steps(4) infinite;
	}
	
	@keyframes play1 {
		from { background-position: 0% 0; }
		to { background-position: 130% 0; }
	}
	
	.animateDog {
		margin: auto;
		width: 55%;
		background: url('assets/dog_animation.png') no-repeat center;
		background-size: cover;
	}
	
	@keyframes playdog {
		from { background-position: 0% 50%; }
		to { background-position: 150% 50%; }
	}
	.buttonArea {
		display: none;
	}
	.player0Area {
		background-position: center;
		background-size: auto 100%;
	}

	.player1Area {
		background-position: center;
		background-size: auto 100%;
	}
}

@media screen and (max-width: 767px) and (min-height: 450px) {
	.animateDuck0 {
		margin: auto;
		width: 100%;
		background: url('assets/p0_duck_animation.png') no-repeat center;
		background-size: cover;
		animation: play0 .7s steps(4) infinite;
	}
	
	@keyframes play0 {
		from { background-position: 0% 0; }
		to { background-position: 130% 0; }
	}
	
	.animateDuck1 {
		margin: auto;
		width: 100%;
		background: url('assets/p1_duck_animation.png') no-repeat center;
		background-size: cover;
		animation: play1 .7s steps(4) infinite;
	}
	
	@keyframes play1 {
		from { background-position: 0% 0; }
		to { background-position: 130% 0; }
	}
	
	.animateDog {
		margin: auto;
		width: 100%;
		background: url('assets/dog_animation.png') no-repeat center;
		background-size: cover;
	}
	
	@keyframes playdog {
		from { background-position: 0% 50%; }
		to { background-position: 150% 50%; }
	}

	.timerAndDuckDisplay > div {
		position: absolute;
		bottom: 44%;
		width: 100%;
	}

	.timerAndDuckDisplay > button {
		position: absolute;
		top: 70%;
		left: 24%;
	}

	.player0Score {
		position: absolute;
		right: 68%;
		top: 40%;
		width: 85%;
	}

	.player1Score {
		position: absolute;
		top: 39%;
		left: 72%;
		width: 85%;
	}

	.scoreAndTimerAndDucks > div {
		height: 85%;
	}

	.scoreAndTimerAndDucks > div:nth-child(2) {
		height: 79%;
	}

	/* .screenSizeMsg > h1:first-of-type {
		display: none;
	} */

	.mobileVerticalMsg, .screenSizeMsg {
		position: absolute;
		z-index: 1;
		width: 100vw;
		height: 80vw;
	}

	.mobileVerticalMsg {
		display: block;
		height: 100vh;
		background-color: black;
	}
}

@media screen and (max-width: 1200px) and (min-width: 770px) {
	.instructionsMenu h2 {
		font-size: 16px;
	}
	.instructionsMenu h3 {
		font-size: 14px;
	}
	.instructionsMenu ul {
		font-size: 13px;
	}
	.button {
		margin-top:20px;
	}
	.radioGridSelect, .radioWinSelectInput {
		font-size: 12.5px;
	}
	.radioGridSelectLabel, .radioWinSelectLabel {
		font-size: 11px;
	}
	.titleArea {
		font-size: 65px;
	}
	.rowLower {
		margin: 0;
	}
	.player0Area, .player1Area {
		background-size: 100% auto;
	}
	.player0Score, .player1Score {
		font-size: 25px;
	}
	.player0Name, .player1Name {
		font-size:30px;
	}
}

@media screen and (max-width: 992px) and (min-width: 770px) {
	.titleArea{
		font-size: 45px;
	}
}

@media screen and (max-width: 640px) {
	.gameScreenMonitor>.uiMenu>.uiMenuText {
		font-size: 16px;
	}
}

@media screen and (max-width: 570px) {
	.mobile-first > .instructionsMenuMobile {
		font-size: 11px;
		padding: 2%;
	}

	.startButtonMobile {
		width: 59%;
		position: absolute;
		left: 19%;
		top: 130%;
		margin: 0;
		height: auto;
		font-size: 24px;
	}
}

@media screen and (max-width: 481px) {
	.player0Score, .player1Score {
		font-size: 16px;
	}

	.player0Area, .player1Area {
		font-size: 11px;
	}

	.uiMenuText, .gameScreenMonitor>.uiMenu>.uiMenuText {
		font-size: 13px;
	}
}