@font-face {
	font-family: 'manaspc';
	src:  url('assets/manaspc.ttf') format('woff2')
}

@font-face {
	font-family: 'duckhunt';
	src:  url('assets/duckhunt.ttf') format('woff2')
}

html,body{
	overflow-x: hidden;
	font-family: manaspc, Arial;
	color: #fb9a38;
	background: black;
}


/*bootstrap grid: 
	1 	grid = 8.333% 
	0.5	grid = 4.166%
	1.5	grid = 12.499% */

/*colors:
bone - rgb(229,220,197)
dark liver - rgb(76,76,71)
https://coolors.co/542a16-b0b4b4-fffdff-524a41-dcd4d6
timberwolf - rgb(220,212,214)
dark liver - rgb(82,74,65)
ash grey - rgb(176,180,180)
caput mortuum - rgb(84,42,22)
*/
.cursorDefault{
	cursor: url(assets/cursorOrange.png) 50 50,auto;
}
.cursorPlayer0{
	/*green*/
	cursor: url(assets/cursorGreen.png) 50 50, auto;
}
.cursorPlayer1{
	/*purple*/
	cursor: url(assets/cursorPurple.png) 50 50, auto;
}

.mainWrapperRow{	/*overall container div*/
	height: 100vh;
}
.rowUpper, .rowLower{
	/*border: 1px solid;*/
}
.rowUpper>div, .rowLower>div{
	height: 100%;
}

.rowUpper{
	height: 77%;
	padding-top: 10px;
}
.ruleArea{
	background-color: black;
}
.rule-title{
	margin: 10px 5% 10px 5%;
	height: 10%;
	background-color: #00e8d8;
	border-radius: 8px;
	color:black;
	font-size: 16px;

}
.gameScreen{
	background-color: rgb(220,212,214);

}
.gameScreenMonitor{
	height: 98%;
	margin-top:0.5%;
	margin-left: 0.25%;
	/*border: 1px solid;*/
	border-radius: 7%;
	/*background-color: rgba(0,0,0,0.9);*/
	padding: 16px;
	background-image: url("assets/background.png");
	background-size: 100% 100%;
	background-repeat:no-repeat;
}
.gameScreenMonitor>div.row{
	/*height: ;*/
	/*display:inline-block;*/
	margin: 0;
}
.gameSquare{
	border: 1px solid white;
	display:inline-block;
}
.buttonArea{
	background-color: black;
	padding: 0;
}
.buttonArea > div{
	margin-left:2.0888%;
}
.radioGridSelect, .radioWinSelect{
	margin-top: 0;
	height: 12%;
	/*border: 1px solid;*/
	/*margin-left: 2.088%;*/
}
.radioGridSelectLabel, .radioWinSelectLabel{
	margin:10px 5% 10px 5%;
	height: 60%;
	background-color: #00e8d8;
	border-radius: 8px;
	color:black;
	font-size: 16px;
	/*border-radius: -20px; look up radial gradient*/
	
}
.radioGridSelectInput, .radioWinSelectInput{
	height: 30%;
}
.startInput{
	/*height: 20%;*/
	/*border: 1px solid;*/
}
.startButton{
	margin-top: 50px;
	background-color: #48dc48;
	color:white;
	height: 50px;
	display:flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	font-size: 25px;
}
.restartButton{
	/*border: 1px solid white;*/
	height: 50px;
}
.volumeControl{
	/*border: 1px solid white;*/
	height: 50px;
}
.winnerMessageDisplay{
	/*border: 1px solid white;*/
	height: 200px;
	color: white;
	font-family:duckhunt, Arial;
	font-size: 50px;
	color: #00e8d8;
}
.rowLower{
	height: 23%;
	padding-bottom: 10px;
}
.rowLower>div{
	/*border: 1px solid;*/
}
.scoreAndTimerAndDucks>div{
	height: 100%;
	/*border: 1px solid orange;*/
	padding: 0;
	background: black;
	font-size: 50px;
}

.timerAndDuckDisplay>div{
	height:50%;
	/*border: 1px solid green;*/
	padding: 0;
}
.littleDuck{
	height: 100%;
	border: 1px solid;
}

.player0Area {
	background: black;
	background-image: url("assets/zapperGreen.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: right;
}
.player0Name{
	position: absolute;
	right: 0;
	bottom: 0;
	/*color: white;*/
	color: black;
	font-size: 25px;
}
.player1Area {
	background: black;
	background-image: url("assets/zapperPurple.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: left;
}
.player1Name{
	position: absolute;
	left: 0;
	bottom: 0;
	color: black;
	font-size: 25px;
}
.playerFocusHighlight{
	text-shadow: 0 0 20px #21a4e2;
	color: #fb9a38;
}

.transTimer {
	width: 100%;
	height: 50%;
	margin: 7% 0;
	border: 1px inset gray;
	position: absolute;
}

.timer {
	width: 100%;
	height: 50%;
	margin: 7% 0;
	background-color: gray;
	position: absolute;
}