@font-face {
	font-family: 'manaspc';
	src:  url('assets/manaspc.ttf') format('woff2')
}

@font-face {
	font-family: 'duckhunt';
	src:  url('assets/duckhunt.ttf') format('woff2')
}

html,body{
	overflow-x: hidden;
	font-family: manaspc, Arial;
	color: #fb9a38;
	background: black;
	-webkit-user-select: none; /* Chrome/Safari */
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none;
}


/*bootstrap grid: 
	1 	grid = 8.333% 
	0.5	grid = 4.166%
	1.5	grid = 12.499% */

/*colors:
bone - rgb(229,220,197)
dark liver - rgb(76,76,71)
https://coolors.co/542a16-b0b4b4-fffdff-524a41-dcd4d6
timberwolf - rgb(220,212,214)
dark liver - rgb(82,74,65)
ash grey - rgb(176,180,180)
caput mortuum - rgb(84,42,22)
*/
.mobileVerticalMsg{
	display: none;
	position: absolute;
	z-index: 1;
	width: 100vw;
	height: 100vw;
}
.mobileVerticalMsg h1{
	margin-top: 30vw;
}
.gunCursorDefault{
	cursor: url(assets/cursorDefault.png), auto;
}
.gunCursorPlayer0{
	cursor: url(assets/cursorPlayer0.png),auto;
}
.gunCursorPlayer1{
	cursor: url(assets/cursorPlayer1.png),auto;
}
.cursorDefault{
	cursor: url(assets/cursorOrange.png) 50 50,auto;
}
.gameScreenMonitor.cursorPlayer0{
	/*green*/
	cursor: url(assets/cursorGreen.png) 50 50, auto;
}
.gameScreenMonitor.cursorPlayer1{
	/*purple*/
	cursor: url(assets/cursorPurple.png) 50 50, auto;
}
.button, .radioGridSelect, .radioWinSelect, .player0Area, .player1Area{	
	cursor: pointer;
}
button, input{
	cursor:pointer;
}

.mainWrapperRow{	/*overall container div*/
	height: 100vh;
}
.rowUpper, .rowLower{
	/*border: 1px solid;*/
}
.rowUpper>div, .rowLower>div{
	height: 100%;
}

.rowUpper{
	height: 77%;
	padding-top: 10px;
}
.titleArea{
	font-family: duckhunt, Arial;
	font-size: 6.5em;
	background-color: black;
	color: #00e8d8;
}
.rule-title{
	margin: 10px 5% 10px 5%;
	height: auto;
	background-color: #00e8d8;
	border-radius: 8px;
	color:black;
	font-size: 25px;

}
.player0Name, .player1Name{
	position: relative;
	top: 70%;
	font-size: 45px;
}

.gameScreen{
	background-color: rgb(220,212,214);

}
.gameScreenMonitor{
	position:relative;
	height: 98%;
	margin-top:0.5%;
	margin-left: 0.25%;
	/*border: 1px solid;*/
	border-radius: 7%;
	/*background-color: rgba(0,0,0,0.9);*/
	padding: 16px;
	background-image: url("assets/background.png");
	background-size: 100% 100%;
	background-repeat:no-repeat;
	/*background-color: black;*/
}
.gameScreenMonitor>.uiMenu{
	position:absolute;
	display:flex;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	width:50%;
	height:15%;
	background-image: url("assets/ui_menu.png");
	background-size: 100% 100%;
	background-repeat:no-repeat;
	align-items: center;
	justify-content: center;
	color: white;
	font-size: 20px;
}

.gameScreenMonitor>.instructionsMenu{
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%, -50%);
	width:60%;
	height:80%;
	background-image: url("assets/instructions_menu.png");
	background-size: 100% 100%;
	background-repeat:no-repeat;
	color: white;
	font-size: 20px;
}

.gameScreenMonitor>.instructionsMenu>h1, .gameScreenMonitor>.instructionsMenu>h2{
	text-align: center;
}

.gameScreenMonitor>.instructionsMenu>ul{
	list-style: square;
	margin:15px;
}
.instructionsMenu>p{
	margin-top: 20px;
}
.instructionsMenu>p.mobileWarning{
	margin-top: 10px;
	padding: 0 10px;
	font-size: 11px;
}
@media screen and (max-width: 1584px){
	.instructionsMenu{
		font-size: 17px;
	}
	.instructionsMenu>ul{
		font-size: 15px;
	}
	.instructionsMenu>p{
		font-size: 12px;
	}
}
.gameScreenMonitor>.uiMenu>.uiMenuText{
	margin:0 20px;
	text-align: center;
}

.gameScreenMonitor>div.row{
	/*height: ;*/
	/*display:inline-block;*/
	margin: 0;
}
.gameSquare{
	border: 1px solid white;
	display:inline-block;
}
.buttonArea{
	position: relative;
	top:15%;
	background-color: black;
	padding: 0;
	cursor: default;
}

.buttonAreaMobile{
	position: relative;
	top:15%;
	background-color: black;
	padding: 0;
	cursor: default;
}

.buttonArea > div{
	margin-left:2.0888%;
}

.radioGridSelect{
	margin-top: 5%;
	height:15%;
	/*border: 1px solid;*/
	/*margin-left: 2.088%;*/
	font-size: 18px;
}
.radioGridSelectLabel, .radioWinSelectLabel{
	display:flex;
	justify-content: center;
	align-items: center;
	margin:10px 5px 10px 5%;
	background-color: #00e8d8;
	border-radius: 8px;
	color:black;
	font-size: 16px;
	/*border-radius: -20px; look up radial gradient*/

}
.radioGridSelectLabel{
	height:45%;
	margin-top: 15px;

}
.radioWinSelectLabel{
	height: 80px;
}

.radioWinSelectInput{
	height: 30%;
	font-size: 18px;
}
.startInput, .restartButton{
	height: 12%;
}
.startInput{
	/*position:relative;*/
	/*top:40%;*/
}
.button{
	margin-top: 50px;
	background-color: #48dc48;
	color:white;
	height: 50px;
	display:flex;
	align-items: center;
	justify-content: center;
	border-radius: 8px;
	font-size: 25px;
}
.volumeControl{
	/*border: 1px solid white;*/
	height: 50px;
}
.winnerMessageDisplay{
	/*border: 1px solid white;*/
	height: 200px;
	color: white;
	font-family:duckhunt, Arial;
	font-size: 38px;
	color: #00e8d8;
}
.rowLower{
	height: 23%;
	padding-bottom: 10px;
}
.rowLower>div{
	/*border: 1px solid;*/
}
.scoreAndTimerAndDucks>div{
	height: 100%;
	/*border: 1px solid orange;*/
	padding: 0;
	background: black;
}
.player0Score, .player1Score{
	font-size: 50px;
}

.timerAndDuckDisplay>div{
	height:50%;
	/*border: 1px solid green;*/
	padding: 0;
}
/*.timerDisplay{
	font-size: 20px;
}*/
.duckDisplay{
	font-size: 50px;
	/*color: white;*/
}
.littleDuck{
	height: 100%;
	/*border: 1px solid;*/
}
.player0Area {
	background: black;
	background-image: url("assets/zapperGreen.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: right;
}
/*.player0Name{*/
	/*position: absolute;*/
	/*right: 0;*/
	/*bottom: 0;*/
	/*!*color: white;*!*/
	/*color: #fb9a38;*/
	/*font-size: 25px;*/
/*}*/
.player1Area {
	/* background: black; */
	background-image: url("assets/zapperPurple.png");
	background-size: auto 100%;
	background-repeat: no-repeat;
	background-position: left;
}
/*.player1Name{*/
	/*position: absolute;*/
	/*left: 0;*/
	/*bottom: 0;*/
	/*color: #fb9a38;*/
	/*font-size: 25px;*/
/*}*/
.playerFocusHighlight{
	text-shadow: 0 0 20px #21a4e2;
	color: #fb9a38;
}

.transTimer {
	width: 100%;
	height: 50%;
	margin: 7% 0;
	border: 1px inset gray;
	position: absolute;
}

.timer {
	width: 100%;
	height: 50%;
	margin: 7% 0;
	background-color: gray;
	position: absolute;
}

.mobileDiv {
	display: none;
}

/* animation */
.animateDuck0 {
	margin: auto;
	/*width: 100%;*/
	width: 85%;
	background: url('assets/p0_duck_animation.png') no-repeat center;
	background-size: cover;
	animation: play0 .7s steps(4) infinite;
}

@keyframes play0 {
	from { background-position: 0% 0; }
	to { background-position: 133% 0; }
}

.animateDuck1 {
	margin: auto;
	/*width: 100%;*/
	width: 85%;
	background: url('assets/p1_duck_animation.png') no-repeat center;
	background-size: cover;
	animation: play1 .7s steps(4) infinite;
}

@keyframes play1 {
	from { background-position: 0% 0; }
	to { background-position: 133% 0; }
}

.animateDog {
	margin: auto;
	/*width: 100%;*/
	width: 80%;
	background: url('assets/dog_animation.png') no-repeat center;
	background-size: cover;
	animation: playdog .7s steps(3) infinite;
}

@keyframes playdog {
	from { background-position: 0% 0; }
	to { background-position: 152% 0; }
}
/* animation */

/***** RESPONSIVE *****/
@media screen and (max-width: 1024px){
	.animateDuck0 {
		width: 100%;
		background-size: 400% auto;
	}
	@keyframes play0 {
		from { background-position: 0% 50%; }
		to { background-position: 133% 50%; }
	}
	.animateDuck1{
		width: 100%;
		background-size: 400% auto;
	}
	@keyframes play1 {
		from { background-position: 0% 50%; }
		to { background-position: 133% 50%; }
	}
	.animateDog{
		width: 100%;
		background-size: 300% auto;
	}
	@keyframes playdog {
		from { background-position: 0% 50%; }
		to { background-position: 152% 50%; }
	}
}
@media screen and (max-width: 769px){
	.animateDuck0 {
		width: 100%;
		background-size: 400% auto;
	}
	
	@keyframes play0 {
		from { background-position: 0% 50%; }
		to { background-position: 130% 50%; }
	}
	
	.animateDuck1 {
		width: 100%;
		/*background-size: cover;*/
		background-size: 400% auto;
	}
	
	@keyframes play1 {
		from { background-position: 0% 50%; }
		to { background-position: 130% 50%; }
	}
	
	.animateDog {
		width: 100%;
		background-size: 300% auto;
	}
	
	@keyframes playdog {
		from { background-position: 0% 50%; }
		to { background-position: 150% 50%; }
	}

	.buttonArea {
		display: none;
	}

	.titleArea {
		padding: 0;
		font-size: 2.5em;
		text-align: center;
		background: none;
	}

	.rowUpper > div:nth-child(3) {
		height: 81vmin;
	}

	.gameScreenMonitor > .uiMenu {
		display: none;
	}

	/* .animateDog, .animateDuck0, .animateDuck1 {
		height: 50vh;
	} */

	.player0Name, .player1Name {
		font-size: 1.8em;
		top: 60%; /* change this? */
	}

	.scoreAndTimerAndDucks {
		font-size: 2em;
	}

	.scoreAndTimerAndDucks>div {
		height: 78%;
	}

	.scoreAndTimerAndDucks>div {
		background: none;
	}

	.timerAndDuckDisplay > div {
		position: absolute;
		bottom: 64%;
		left: 2%;
		width: 100%;
	}

	.timerAndDuckDisplay > button {
		position: absolute;
		top: 50%;
		left: 27%;
	}

	.player0Area {
		background-position: left;
	}

	.player0Score {
		position: absolute;
		right: 78%;
		top: 28%;	
		width: 64%;
	}

	.player1Area {
		background-position: right;
	}

	.player1Score {
		position: absolute;
		top: 28%;
		left: 79%;
		width: 63%;
	}

	.timerAndDuckDisplay {
		position: absolute;
		width: 92%;
		right: 4%;
		bottom: 22%;
	}

	.player0Score, .player1Score {
		font-size: 25px;
	}

	.gameScreenMonitor>.uiMenu {
		height: 27%;
	}

	.instructionsMenuMobile > h2 {
		margin: 6px 0;
	}

	.github-links i {
		font-size: 20px;
	}

	.con-4ml, .con-5ml {
		color: gray;
	}

	.uiMenu {
		display: flex;
	}

	.gameScreenMonitor>.uiMenu>.uiMenuText { 
		margin: auto;
		padding: 5px;
		text-align: center;
		font-size: 18px;
	}

	.instructionsMenu {
		display: none;
	}

	.instructionsMenuMobile > h2 {
		text-align: center;
	}

	.instructionsMenuMobile > ul, .instructionsMenuMobile > p {
		margin: 0;
	}

	.mobile-first {
		display: flex;
		position: absolute;
		left: 50%;
		top: 39%;
		transform: translate(-50%, -50%);
		margin: auto
	}

	.mobile-first > .instructionsMenuMobile {
		margin: auto;
		background-image: url("assets/instructions_menu.png");
		background-size: 100% 100%;
		background-repeat:no-repeat;
		color: white;
		font-size: 14px;
	}

	.startButtonMobile {
		width: 50%;
		position: absolute;
		left: 23%;
		top: 120%;
		margin: 0;
	}
}
@media screen and (max-width: 767px){
	.animateDuck0 {
		margin: auto;
		width: 55%;
		background: url('assets/p0_duck_animation.png') no-repeat center;
		background-size: cover;
		animation: play0 .7s steps(4) infinite;
	}
	
	@keyframes play0 {
		from { background-position: 0% 0; }
		to { background-position: 130% 0; }
	}
	
	.animateDuck1 {
		margin: auto;
		width: 55%;
		background: url('assets/p1_duck_animation.png') no-repeat center;
		background-size: cover;
		animation: play1 .7s steps(4) infinite;
	}
	
	@keyframes play1 {
		from { background-position: 0% 0; }
		to { background-position: 130% 0; }
	}
	
	.animateDog {
		margin: auto;
		width: 50%;
		background: url('assets/dog_animation.png') no-repeat center;
		background-size: cover;
	}
	
	@keyframes playdog {
		from { background-position: 0% 50%; }
		to { background-position: 150% 50%; }
	}
}

@media screen and (max-width: 769px) and (min-height: 450px){
	.timerAndDuckDisplay > div {
		position: absolute;
		bottom: 44%;
		width: 100%;
	}

	.timerAndDuckDisplay > button {
		position: absolute;
		top: 70%;
		left: 24%;
	}

	.player0Score {
		position: absolute;
		right: 68%;
		top: 40%;
		width: 85%;
	}

	.player1Score {
		position: absolute;
		top: 39%;
		left: 72%;
		width: 85%;
	}

	.scoreAndTimerAndDucks>div {
		height: auto;
	}

	.scoreAndTimerAndDucks>div:nth-child(2) {
		height: 79%;
	}
}

@media screen and (max-width: 1200px) and (min-width: 770px){
	.instructionsMenu h2{
		font-size: 16px;
	}
	.instructionsMenu ul{
		font-size: 13px;
	}
	.button{
		margin-top:20px;
	}
	.radioGridSelect, .radioWinSelectInput{
		font-size: 12.5px;
	}
	.radioGridSelectLabel, .radioWinSelectLabel{
		font-size: 11px;
	}
	.titleArea{
		font-size: 65px;
	}
	.rowLower{
		margin: 0;
	}
	.player0Area, .player1Area{
		background-size: 100% auto;
	}
	.player0Score, .player1Score{
		font-size: 25px;
	}
	.player0Name, .player1Name{
		font-size:30px;
	}
}

@media screen and (max-width: 992px) and (min-width: 770px){
	.titleArea{
		font-size: 45px;
	}
}
